<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title> {% block title %} {% endblock %}  </title>
</head>
<body>
   Шапка сайта - всегда будет наверху
   <hr>
   {% block body %}
   {% endblock %}
</body>
</html>