{% extends 'base.html' %}

{% block title %}
Заголовок Страница ФОРМ
{% endblock %}

{% block body %}
<p> Перечислены формы - таблетки</p>

<div>
<h3> <span style="color: #ff1640;"> Просто сообщение </span></h3>

</div>

{% endblock %}