{% extends 'base.html' %}

{% block title %}
Заголовок Страница ФОРМ
{% endblock %}

{% block body %}
<h3>Перечислены формы - таблетки  сукааа - это была проверка Гита</h3>

<img src="img/logo.png" />
<img src="https://cdi54.ru/img/woman.png"  alt="Girl-stom" style="width:60px;height:90px;"  />

<h1> Список всех продуктов: </h1>

<ul>
{% for m in store %}
    <li> {{ m }} </li>
    {% endfor %}
</ul>

<br> </br>

<div class="main-top-wrap">
							<div class="logo"><a href="https://cdi54.ru"> Это ссылка новая  <img src="img/logo.png" alt=""></a></div>
							<div id="nav">

								<nav class="main-nav">
									<ul class="nav">
										<li><a href="#main">Главная</a></li>
										<li><a href="#services">Услуги</a></li>
										<li><a href="#team">Персонал</a></li>

									</ul>
								</nav>

								<span><b>Время работы:</b>  Пн-Сб: с <span>8:00</span> </span>
							</div>

							<div class="phone">
								<a href="tel:+79130020166">+7 (913) 002-01-66</a>
								<a data-mfp-src="#callback" class="callback-popup">Запись</a>
							</div>
						</div>

<br>
<br>
<a class="bnt btn-warning" href="/short"> Страница создания Короткого </a>
<br>
<br>
<h1> Все Мастер-продукты:</h1>
 {% for el in products %}
 <h3> {{ el.short_mini }} </h3>
 <h3> {{ el.short_full }} </h3>
 <p><b> Дата:    <span style="color: #ff6600;"> {{ el.date.date() }} </span>  </b></p>
 <hr>
 {% endfor %}
{% endblock %}



