{% extends 'base.html' %}

{% block title %}
Заголовок Страница Коротких ТН
{% endblock %}

{% block body %}
<h1>Тут короткие ТН (торговые названия)</h1>


<form method = "post" >
    <input type="text" name="short_mini" id = 'short_mini' placeholder="Введите Короткое мини" ><br>
    <input type="text" name="short_full" id = 'short_full' placeholder="Введите Короткое full" ><br>
    <input type="text" name="recipe" id = 'recipe' placeholder="Введите нужен ли Рецепт" ><br>
    <input type="text" name="country" id = 'country' placeholder="Введите Страну" ><br>
    <input type="submit" value="Отправить">

</form>

{% endblock %}